**List**
- It is a data type that stores multiple values of different data types
- We can only apply List operations on it

In [1]:
name = input("Enter your name: ")

In [2]:
name

'Shahid'

In [3]:
list_1 = ['Aqsa', 12, 7.86, True]
list_1

['Aqsa', 12, 7.86, True]

In [21]:
names_list_0 = []
name = input("Enter name: ")
# add name to the list using append() method
# append () method adds an element to the end of the list
names_list_0.append(name)     
print(names_list_0)

['Shahid']

In [22]:
names_list_1 = []
for i in range(0,10):
    name = input("Enter name: ")
    names_list_1.append(name)     
print(names_list_1)

['Aqsa', 'Moiz', 'Shahid', 'Mustajab', 'Afaq', 'Samina', 'Muhammad', 'Ilyas', 'Saleha', 'Minsa']

**The problem with this code is that names_list2 is an empty list,** 

**and you are trying to assign values using names_list2[i] = name.**

**Since the list is initially empty, this will raise an IndexError**

**because the list does not have any pre-allocated indices.**

In [ ]:
# names_list2 = []
# for i in range(0,10):
#     name = input("Enter name: ")
#     names_list2[i] = name     
# print(names_list2)

In [23]:
names_list_2 = ['Aqsa2', 'Moiz2', 'Shahid2', 'Mustajab2']

**append( ) will add the value as a single like it appended complete list at the end as a single element**

In [24]:
names_list_1.append(names_list_2)
names_list_1

['Aqsa',
 'Moiz',
 'Shahid',
 'Mustajab',
 'Afaq',
 'Samina',
 'Muhammad',
 'Ilyas',
 'Saleha',
 'Minsa',
 ['Aqsa2', 'Moiz2', 'Shahid2', 'Mustajab2']]

**extend( ) will add the values individually at the end of list**

In [25]:
names_list_1.extend(names_list_2)
names_list_1

['Aqsa',
 'Moiz',
 'Shahid',
 'Mustajab',
 'Afaq',
 'Samina',
 'Muhammad',
 'Ilyas',
 'Saleha',
 'Minsa',
 ['Aqsa2', 'Moiz2', 'Shahid2', 'Mustajab2'],
 'Aqsa2',
 'Moiz2',
 'Shahid2',
 'Mustajab2']

In [26]:
'hello'
list('hello')

['h', 'e', 'l', 'l', 'o']

In [29]:
names_list_4 = list('hello')
names_list_4[3] = 'r'
names_list_4

['h', 'e', 'l', 'r', 'o']

**The given code will generate error because strings are immutable**

In [ ]:
names_ = 'hello'
names_[3] = 'r'
names_

In [31]:
names_list_1.insert(2, "Somia")
names_list_1

['Aqsa',
 'Moiz',
 'Somia',
 'Shahid',
 'Mustajab',
 'Afaq',
 'Samina',
 'Muhammad',
 'Ilyas',
 'Saleha',
 'Minsa',
 ['Aqsa2', 'Moiz2', 'Shahid2', 'Mustajab2'],
 'Aqsa2',
 'Moiz2',
 'Shahid2',
 'Mustajab2']

**Class task to find the min and max value from the given list**

In [33]:
numbers = [3, 7, 1, 9, 4]
print(min(numbers))
print(max(numbers))

1
9

In [1]:
str = 'Class 10'
str

'Class 10'

In [ ]:
print(str.extend('U'))
print(str.append('U'))
print(str.update('U'))

**Try list slicing**