# Tuples
- is like a list but it is immutable
- uses ( ) instead of [ ]
- can store multiple data types
- we can use indexing,
- is faster as compared to list because we cannot update it

In [1]:
tuple_1 = (1,2,3,4,5)           # is like packing, we are packing the 5 values in a tuple
tuple_1

(1, 2, 3, 4, 5)

In [2]:
print(tuple_1[0])
print(tuple_1[3])

1
4

In [3]:
tuple_2 = ('Shahid', 34, True)
tuple_2

('Shahid', 34, True)

**use of indexing to unpack the list**

In [15]:
name = tuple_2[0]
age = tuple_2[1]
is_True = tuple_2[2]

**use of variables to unpack tuple**

In [16]:
name2, age2, is_True_2 = tuple_2

In [17]:
print(name2)
print(age2)
print(is_True_2)

Shahid
34
True

**we can update a tuple**
1. converting tuple into list
2. Make changes in list
3. Convert it in tuple again

In [18]:
temp_list = list(tuple_2)
temp_list

['Shahid', 34, True]

In [19]:
temp_list.append('class 10')
temp_list

['Shahid', 34, True, 'class 10']

In [20]:
tuple_2 = tuple(temp_list)
tuple_2

('Shahid', 34, True, 'class 10')

**concatenation of tuples**

In [10]:
tuple_4 = (1,2,3)
tuple_5 = (4,5,6)
tuple_4 + tuple_5

(1, 2, 3, 4, 5, 6)

**use of len( ) on tuples**

In [11]:
len(tuple_5)

3

**use of * operator with tuples**

In [8]:
(1,2,3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

**class work to find the max value from the list**

In [21]:
t4 = (43, 56,76,89)
print(f'The max value in {t4} is {max(t4)}, and min value is {min(t4)}')

The max value in (43, 56, 76, 89) is 89, and min value is 43

# Set
- contains unique values

In [37]:
l1 = [1,2,3,1,4,2]
s1 = set(l1)
s1

{1, 2, 3, 4}

In [38]:
s1.add(4)
s1

{1, 2, 3, 4}

In [39]:
s1.add(5)
s1

{1, 2, 3, 4, 5}

In [40]:
s1.remove(3)
s1

{1, 2, 4, 5}

In [41]:
s2 = s1
s2

{1, 2, 4, 5}

In [42]:
s2.clear()
s2

set()

In [44]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [45]:
s2 = {1,2,4,5,6}
s2

{1, 2, 4, 5, 6}

In [46]:
s1 & s2         # intersection of set

{1, 2}

In [47]:
s1 | s2

{1, 2, 3, 4, 5, 6}

# Dictionary
- combination of key and value
- doesn't allow duplicate keys

In [63]:
d1 = {
"name" : 'Shahid',
age : 34,
'location' : 'Lahore'
}
d1

{'name': 'Shahid', 34: 34, 'location': 'Lahore'}

In [64]:
d1["location"] = "Karachi"
d1

{'name': 'Shahid', 34: 34, 'location': 'Karachi'}

In [65]:
d1["gender"] = "male"
d1

{'name': 'Shahid', 34: 34, 'location': 'Karachi', 'gender': 'male'}

In [58]:
d1.get('name')          # used to get value from dictionary

'Shahid'

In [67]:
for key in d1:
    print(key)

name
34
location
gender

In [68]:
for value in d1.values():
    print(value)

Shahid
34
Karachi
male

In [69]:
d1.items()

dict_items([('name', 'Shahid'), (34, 34), ('location', 'Karachi'), ('gender', 'male')])

In [70]:
d1.keys()

dict_keys(['name', 34, 'location', 'gender'])

In [71]:
d1.values()         # to get values of the dictionary

dict_values(['Shahid', 34, 'Karachi', 'male'])

In [72]:
for key, value in d1.items():
    print(key)
    print("test", value)

name
test Shahid
34
test 34
location
test Karachi
gender
test male

**use of dict( )**

**search on environment variables in python**

**class task, find similar items and store them in dictionary with their count**

In [ ]:
text = "apple banana apple cherry banana apple"