Type casting

In [26]:
str1 = '1'
str1

'1'

In [27]:
# str1 : int = 1   # prints 1
str1 : int
str1

'1'

In [28]:
str3 = '12'
str4 : int = str3
str4 # its not type casting

'12'

Type conversion

In [37]:
v1 = 5                  # integer variable
v1_bool  = bool(v1)
v1_bool2  = bool(-2)
v1_bool3  = bool(0)
v1_float = float(v1)
v1_str = str(v1)
v1_bool,v1_bool2,v1_bool3, v1_float, v1_str

(True, True, False, 5.0, '5')

In [38]:

v2 = True               # boolean variable
v2_int  = int(v2)
v2_float = float(v2)
v2_str = str(v2)
v2_int, v2_float, v2_str

(1, 1.0, 'True')

In [39]:
v21 = False               # boolean variable
v21_int  = int(v21)
v21_float = float(v21)
v21_str = str(v21)
v21_int, v21_float, v21_str

(0, 0.0, 'False')

In [40]:
v3 = 3.14               # float variable
v3_bool  = bool(v3)
v3_int = int(v3)
v3_str = str(v3)
v3_bool, v3_int, v3_str

(True, 3, '3.14')

In [2]:
v4 = "Hello, Shahid!"   # string variable
v4_bool  = bool(v4)
# v4_int = int(v4)
# v4_float = float(v4)
v4_bool #, v4_int, v4_float

True

The string type casting to other types is not working for characters

In [1]:
print("My name is Shahid and i am learning Python in 2025")

My name is Shahid and i am learning Python in 2025

f-string method

In [2]:
year = 2025
name = "Shahid"
language = "Python"
print(f'My name is {name} and I am learning {language} in {year}')

My name is Shahid and I am learning Python in 2025

In [8]:
# print(f'My name is {} and I am learning {} in {}'.format(name, language, year))   by mistake "f" was written that generated error
print('My name is {} and I am learning {} in {}'.format(name, language, year)) 
# Return a formatted version of String, using substitutions from args. The sequence must be kept in mind
print('My name is {} and I am learning {} in {}'.format(year, name, language ))

My name is Shahid and I am learning Python in 2025
My name is 2025 and I am learning Shahid in Python

using indexing method

In [12]:
print('My name is {0} and I am learning {1} in {2}'.format(name, language, year )) 
print('My name is {1} and I am learning {0} in {2}'.format(name, language, year )) 
print('My name is {0} and I am learning {1} in {2}'.format(year, name, language ))

My name is Shahid and I am learning Python in 2025
My name is Python and I am learning Shahid in 2025
My name is 2025 and I am learning Shahid in Python

using name place holder

In [14]:
print('My name is {x1} and I am learning {x2} in {x3}'.format(x1 =name , x2 = language, x3 =year ))

My name is Shahid and I am learning Python in 2025

User-defined values => input()