**Table of content**

* Operators in Python
    1. Arithmetic Operators
    2. Assignment Operators
    3. Relational Operators
    4. Logical Operators
    5. Identity Operator
    6. Membership Operator

**Arithmetic operators**

In [7]:
x = 5
y = 2
x ** y

25

In [11]:
x = 10
x +=  6         # 16
x -=  2         # 14
x *=  4         # 56
x /=  2         # 28
x //= 3         # 9
x %=  2         # 1
x

1.0

In [8]:
x//y    # // operators rounds the answer to floor value

2

Assignment operator is used to assign value to the variable and represented by '=' symbol

In [9]:
x = x + 5           # traditional way
x += 3              # alternative way of doing increment operation
x

13

**Comparison operators or relational operators**

these always output in Boolean value

In [3]:
a = 5
b = 3
a == b          # checks equality

False

In [4]:
a != b          # checks not equals to

True

In [5]:
a >= b          # checks a is greater or equals to b

True

In [6]:
a >= b and b < 5

True

In [7]:
not True

False

In [8]:
not False

True

In [9]:
print(not "Shahid")         # non empty string is considered True while empty string is considered False
print(not " ")
print(not "")
print(not 4)
print(not -5)
print(not 0)

False
False
True
False
False
True

In [16]:
not a<=4 or b<9

True

In [17]:
not (a<=4 or b<9)

False

precedence of logical operators
**not** > **and** > **or**

In [18]:
not True or False and True

False

In [19]:
not False or True and True

True

In [20]:
not (False or True and True)

False

- In Python, non-boolean values can also be used in and expressions, as Python will treat them according to their "truthiness":
- Non-zero numbers, non-empty strings, and non-empty containers (like lists, tuples, etc.) are considered True.
- Zero values (e.g., 0, None, [], '') are considered False.
- result = 5 and "Hello"
- print(result)  # Output: Hello

In [3]:
result = 5 and 'Hello'
result

'Hello'

In [4]:
result = 5 and 2
result

2

In [5]:
result = 'Hello' and -10
result

-10

In [6]:
result = 'Hello' and 0
result

0

In [7]:
result = 0 and -10
result

0

In [8]:
result = 2>5 and -10
result

False

The identity operators in Python are used to compare the memory locations of two objects. 
They check whether two variables point to the same object (not just if they have the same value).

**is** Returns True if two variables refer to the same object in memory.
Example: x is y

**is not** Returns True if two variables do not refer to the same object in memory.
Example: x is not y

In [21]:
a is b

False

In [22]:
m = 2
n = 2
m is n

True

In [25]:
j = 3
k = 2
i = j
print(j is not k)
print(j is k)
print(j is i)

True
False
True

Membership operators are used to check whether a value or an element exists in a sequence (like a string, list, tuple, set, or dictionary). These operators return a boolean value (True or False).

**in** Returns True if the specified value exists in the sequence.
Example: x in y

**not in** Returns True if the specified value does not exist in the sequence.
Example: x not in y

In [26]:
name = "Shahid"
'Sa' in name

False

In [30]:
print("Sha" in name)
print("a" in name)
print("123" in name)

print("Sha" not in name)
print("123" not in name)

print(""  in name)          # returns True because an empty string is considered a substring of any string
print(" "  in name)
print("" not in name)
print(" " not in name)

True
True
False
False
True
True
False
False
True

2