**Table of Content** 

1. Strings & types
2. Some commonly used functions related to string
3. String assignment using f-string method
4. Indexing
5. Slicing
6. Step Argument

**Single line string can be created through single quote ' ' or double quotes " "**

**For multi-line string we use triple quotes ''' '''**

In [6]:
s1 = '123'
s2 = "456"
s3 = '''This is my first 
multi-line string'''
# s4 = 'This string will
# generate an error'

In [7]:
print(s1, s2, s3)

123 456 This is my first
multi-line string

In [1]:
name = 'shahid malik'
name

'shahid malik'

**Use of lower, upper, capitalize, and title functions**

In [2]:
print(name.lower())             # converts string into lowercase
print(name.upper())             # converts string into uppercase
print(name.capitalize())        # converts first character into uppercase and rest into lowercase
print(name.title())             # converts first character of each word into uppercase and rest into lowercase

shahid malik
SHAHID MALIK
Shahid malik
Shahid Malik

**Use of f-string while string assignment**

In [3]:
email_message = f'Hello {name}! How are you?'

In [4]:
print(email_message)

Hello shahid malik! How are you?

**\n is a new line character and will move the cursor on next line**

In [8]:
email_message = f'Hello {name}!\n How \nare \nyou?'

In [9]:
print(email_message)

Hello shahid malik!
 How
are
you?

**Indexing**
1. It allows you to access individual elements in a sequence. 
2. In Python, indexing starts at 0, so the first element of a sequence has an index of 0. 
3. The second element has an index of 1, and so on.
4. You can use square brackets [] with the index number to retrieve the element at that specific position.

In [7]:
str = 'I like orange'
# index are  I=0, space=1, l=2, i=3, k=4, e=5, space=6, o=7, r=8, a=9, n=10, g=11, e=12
# reverse indexing will be
#  e=-1, g=-2, n=-3, a=-4, r=-5, o=-6, space=-7, e=-8, k=-9, i=-10, l=-11, space=-12, I=-13

**index -1 refers to the last element in the sequence, the index -2 refers to the second-last element, and so on.**

In [8]:
str[-1]

'e'

In [9]:
str[4]

'k'

In [10]:
len(str)            # len() returns no. of characters in a string

13

**Slicing**

1. It is a powerful method that allows us to extract a specific range of elements from a list or a string.
2. We can use the colon (:) operator to slice a list or a string.
3. Syntax for Slicing: string [start : end : step]

1. **Start** is the index of the first element that we want to include in the slice.
2. **End** is the index of the element that we want to exclude from the slice. 
3. **Step** is the number of indices we want to skip between the elements of the slice.

**If we omit the start and end indices, the slice will include all the elements of the list or the string.**

In [11]:
# str = 'I like orange'
# str[start:end point]
str[7:10]

'ora'

In [12]:
# str = 'I like orange'
# str[start:end point]
str[10:-1]  # for negative slicing ending point must be -1 and staring point must be different

'ng'

In [16]:
# str = 'I like orange'
# str[-4, -1]         by mistake i wrote , instead of : that;s why i get error here
str[-4 : -1]

'ang'

In [15]:
# str = 'I like orange'
str[-7 :]

' orange'

In [17]:
# str = 'I like orange'
str[-8 : -4]

'e or'

In [18]:
# str = 'I like orange'
str[-6 : -1: 2]

'oag'

In [40]:
# str = 'I like orange'
print(str[-6 : -1: -1])        # this will give empty string i think because of negative step size
print(str[-6 : -1: 1])
# print(str[-6 : -1: 0])         This generated error because of 0 step size

orang

In [29]:
# str = 'I like orange'
# str[start:end:step]
str[::2]

'Ilk rne'

**Task by mam in the class**

In [12]:
name = 'This is Aqsa Moiz'
name[5:12]

'is Aqsa'

In [25]:
numbers = '0123456'

In [26]:
numbers[::2]    # 0 se start, phr har index ma 2 ko add kr k next index value nikale ga

'0246'

In [26]:
# numbers = '0123456'
numbers[::3]

'036'

In [27]:
# numbers = '0123456'
numbers[::-3]           # print complete string with -3 step means print 3rd character from end and then 2nd and so on

'630'

**Reverse the string**

In [23]:
str1 = "Shahid"
str1[::-1]

'dihahS'

**Class Activity**

**Find the positive words from the given string using slicing**

In [28]:
review = """
Great session!
Clear explanations and engaging examples made learning strings easy and fun. Highly recommend!"""

In [29]:
review[1:6]

'Great'

In [30]:
review[39:47]

'engaging'

In [31]:
review[88:91]

'fun'

In [36]:
print(review[100:109])
print(review[-10:-1])

recommend
recommend

In [38]:
print(review[93:99])
print(review[-17:-11])

Highly
Highly

**Try the above task using negative slicing**

done and embedded in code